/*
Loads font https://fonts.google.com/specimen/Inter+Tight
*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

.inter-tight-regular {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arimo-regular {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.libre-bodoni-regular {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Arimo", sans-serif;
    line-height: 1.6;
    color: #2B2D42;
    margin: 0;
    padding: 20px;
    background-color: #EDF2F4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header,
footer {
    text-align: left;
    padding: 20px 0;
    color: #1e1e1e;
}

main {
    padding: 20px 0;
}

a {
    color: #8D99AE;
}

h1 {
    font-family: "Libre Bodoni", serif;
    color: #B21E35 ;
}

h2 {
    font-family: "Libre Bodoni", serif;
    color: #7b8088 ;
}

h3 {
    color: #7b8088 ;
}

h4 {
    color: #5b5f66 ;
}
