/*
Loads font https://fonts.google.com/specimen/Inter+Tight
*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&display=swap");

.inter-tight-regular {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #2a2e34;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f6;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
header,
footer {
    text-align: left;
    padding: 20px 0;
    color: #1e1e1e;
}
main {
    padding: 20px 0;
}
a {
    color: #71808d;
}
h1 {
    color: #c1122e ;
}
h2,
h3 {
    color: #7b8088;
}
h4 {
    color: #5b5f66 ;
}
